<section class="contact" id="contact">
  <div class="container">
    <h1>Contact</h1>
    <hr>
    <div class="row">
      <a href="mailto:hello@krispenney.me" target="_blank" class="round"><span class="fa fa-envelope"></span></a>
      <a href="https://linkedin.com/in/kris-penney-04a01535" target="_blank" class="round"><span class="fa fa-linkedin"></span></a>
      <a href="https://github.com/k9101" target="_blank" class="round"><span class="fa fa-github"></span></a>
      <a href="https://plus.google.com/108825782324277929446/posts" target="_blank" class="round"><span class="fa fa-google-plus"></span></a>
    </div>
    <a class="button" href="http://krispenney.me/assets/files/Kris Penney.pdf" target="_blank">Download Resume</a>
    <hr>
  </div>
  <footer>
    &copy; Kris Penney 2016. All Rights Reserved.
  </footer>
</section>
