<section class="education" id="education">
  <div class="container">
    <h1>Education</h1>
    <h5>5B Computer Science and Business Double Degree</h5>
    <div class="progress-contain">
      <div class="progress">
        <div class="fill"></div>
      </div>
      <div class="labels">
        <span>1A</span>
        <span class="hide">1B</span>
        <span class="hide">2A</span>
        <span class="hide">Co-op</span>
        <span class="hide">2B</span>
        <span class="hide">3A</span>
        <span class="hide">Co-op</span>
        <span class="hide">3B</span>
        <span class="hide">4A</span>
        <span class="hide">Co-op</span>
        <span class="hide">4B</span>
        <span class="hide">Co-op</span>
        <span class="hide">5A</span>
        <span class="hide">5B</span>
        <span class="fa fa-graduation-cap"></span>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="six columns">
        <h6><strong>University of Waterloo</strong></h6>
        <h6>September 2013 - August 2018</h6>
      </div>
      <div class="offset-by-one five columns">
        <h6><strong>Bachelors of Computer Science</strong></h6>
        <h6>Software Engineering Option</h6>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h6><strong>Wilfrid Laurier University</strong></h6>
        <h6>September 2013 - August 2018</h6>
      </div>
      <div class="offset-by-one five columns">
        <h6><strong>Bachelors of Business Administration</strong></h6>
        <h6>Finance Option</h6>
      </div>
    </div>
  </div>
</section>
