<section class="education" id="education">
  <div class="container">
    <h1>Education</h1>
    <h5>4A Computer Science and Business Double Degree</h5>
    <div class="progress-contain">
      <div class="progress">
        <div class="fill"></div>
      </div>
      <div class="labels">
        <span>1A</span>
        <span class="hide">1B</span>
        <span class="hide">2A</span>
        <span class="hide">Co-op</span>
        <span class="hide">2B</span>
        <span class="hide">3A</span>
        <span class="hide">Co-op</span>
        <span class="hide">3B</span>
        <span class="hide">4A</span>
        <span class="hide">Co-op</span>
        <span class="hide">4B</span>
        <span class="hide">Co-op</span>
        <span class="hide">5A</span>
        <span class="hide">5B</span>
        <span class="fa fa-graduation-cap"></span>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="six columns">
        <h6><strong>University of Waterloo</strong></h6>
        <h6>September 2013 - August 2018</h6>
      </div>
      <div class="offset-by-one five columns">
        <h6><strong>Bachelors of Computer Science</strong></h6>
        <h6>Software Engineering Option</h6>
        <!-- <p>Previous courses include</p> -->
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h6><strong>Wilfrid Laurier University</strong></h6>
        <h6>September 2013 - August 2018</h6>
      </div>
      <div class="offset-by-one five columns">
        <h6><strong>Bachelors of Business Administration</strong></h6>
        <h6>Entrepreneurship Option</h6>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      </div>
    </div>
  </div>
</section>
