<nav>
  <div class='mobile-ctrl'>
    <span class='head'>Kris Penney</span>
    <div class="toggle" onclick="toggleMobile()">
      <span class="hamburger"></span>
      <span class="hamburger"></span>
      <span class="hamburger"></span>
    </div>
  </div>
  <ul>
    <li><a href="#top">Kris Penney</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#experience">Work Experience</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

</nav>
