<section class="work_experience container" id="experience">
  <h1>Work Experience</h1>
  <hr>
  {% assign jobs = site.jobs | sort: 'order' %}
  {% for job in jobs reversed %}
    <div class="row">
      <div class="six columns">
        <h6><strong>{{ job.title }}</strong> - {{ job.employer }}</h6>
        <h6>{{ job.time}}</h6>
      </div>
      <div class="offset-by-one five columns">
        <ul class="dash">
          {% for task in job.tasks %}
            <li>{{ task }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</section>
