section.hero
  height: 100vh
  width: 100%
  margin-bottom: 15px
  display: flex
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  text-align: center
  background:
    image: url('../images/bg.jpg')
    size: cover
    position: center

  h1
    display: inline-block
    border-bottom: 1px solid #979797
    padding-bottom: 15px
    margin-bottom: 1.5rem
    font:
      size: 8rem
      weight: 400
  h2
    font:
      weight: 300
      size: 6rem
